.container {
  margin-top: 0px;
  padding: 0%;
}

.loading {
  height: 100vh;
  color: #be123c;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loading p {
  padding-top: 10%;
  font-size: 34px;
  font-weight: 600;
}

.signup {
  padding: 6%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup .credentials {
  flex: 2;
  color: #fff;
}

.signup .credentials p {
  margin-top: 20px;
}

.signup .credentials a {
  color: #fff;
  text-decoration: underline;
}
.signup form {
  display: flex;
  flex-direction: column;
  background-color: #00000042;
}

.signup form input {
  margin-top: 20px;
  background-color: #0000008f;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}

.signup form button {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
}

.signup .google {
  flex: 1;
}

.signup h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 600;
}

.signup form {
  margin-top: 30px;
  padding: 30px;
  border-radius: 6px;
}

.main {
  margin-top: -250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
  padding: 2% 4%;
}

.gameContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: -10%;
}

.gameContainer .gameDetails {
  align-items: flex-start;
  margin-left: -40%;
  width: 40%;
}

.gameDetails .about {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gameDetails .about p {
  font-size: 12px;
}

.gameContainer .gameDetails h2 {
  font-size: 32px;
}

.gameContainer .screenshot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70%;
  flex-wrap: wrap;
}

.gameContainer .screenshot img {
  border-radius: 10px;
  object-fit: cover;
}

.gameContainer h2 {
  font-size: 54px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.gameGrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.item ul {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  padding-right: 5px;
}

.item span {
  color: #ffffff5e;
}
.item p {
  font-size: 12px;
  border-top: 1px solid #ffffff5e;
  padding-top: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameDetails .creators {
  margin-top: 10px;
}

.creators h4 {
  margin-bottom: 10px;
}
.creators img {
  border-radius: 100%;
  gap: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 968px) {
  .gameContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .gameContainer .gameDetails {
    margin-left: 0px;
    width: 100%;
    margin-top: 70px;
  }

  .gameContainer .screenshot {
    width: 100%;
    margin-top: 20px;
  }

  .gameContainer .screenshot img {
    width: 150px;
    height: 150px;
  }
}
