.sidebar {
  color: #fff;
  text-decoration: none;
  width: 70%;
  display: flex;
  flex-direction: column !important;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryHeader {
  font-size: 18px;
  font-weight: 600;
}

.sidebar li {
  padding: 8px 0px;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.sidebar a:hover {
  color: #ffffff75;
}

.icon {
  margin-right: 8px;
  padding: 4px;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 6px;
}

.icon:hover {
  background-color: #ffffff75;
  color: #2d2d2d;
}

.activeItem .icon {
  background-color: #fff;
  color: #2d2d2d !important;
}

.signOut {
  margin-top: 50px;
  align-items: center;
  gap: 10px;
  display: flex;
}

@media screen and (max-width: 968px) {
  .sidebar {
    display: none;
  }
}
